<%- include('partials/header') -%>

<main class="landingMain">
    <div class="sloganSection">
        <div class="sloganDiv">

            <h2 class="slogan">
                For The People <br>
                From The People
            </h1>
            

        </div>
        <div class="joinUsDiv">

            
            <a href="/signup" class="col-3 btn btn-primary"><button class="joinBtn">
                Join Us
            </button></a>

        </div>
       
    </div>
    <div class="landingImageDiv">
        <img class="landingImage" src="https://blush.design/api/download?shareUri=HDw0ZnIt46c7Hiu9&c=Bottom_0%7E393f82-0.1%7E89c5cc-0.2%7E393f82-0.3%7E393f82_Hair_0%7Ee8e1e1-0.1%7E181658-0.2%7Ee8e1e1-0.3%7E2c1b18_Skin_0%7Eb28b67-0.1%7Ed4a181-0.2%7E915b3c-0.3%7Edcae92_Top_0%7Eff4133-0.1%7Ef2f2f2-0.2%7Eff4133-0.3%7Ea8e5ba&bg=ffffff&w=800&h=800&fm=png" alt="">
    </div>
</main>
    

<%- include('partials/footer') -%>