


<%- include('partials/header') -%>


<main class="mainprofile">
    <section class="mainProfileSection">
<h2><%= profile.userName %></h2>
        
    </section> 
    <aside>

        <a href=""><h4>settings</h4></a>

    </aside>
</main>


    

<%- include('partials/footer') -%>