@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Parisienne&family=Passion+One&family=Press+Start+2P&family=Roboto&family=Russo+One&display=swap');
 
 *, *::before, *::after {
    margin: 0;
    padding: 0;
 }
body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,233,216,1) 100%);
        font-family: "Roboto";

}
a {
    text-decoration: none;
    color: black;
}
header {
    display: flex ;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.381);
    border-radius: 0 0 16px 16px;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px 0;
}

.topNavigation ul {
    display: flex;
    list-style: none;
}

.topNavigation ul a {
    margin: 0 10px;
    padding: 5px 20px;
    color: white;
    background: rgba(148,233,216,1) !important;
    border-radius: 16px  !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
}

/* a:link,a:visited ,a:hover,a:active {
    text-decoration: none;
} */

.avatar {
    position: relative;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    z-index: 1000;
}
.w-24 {
    width: 24px;
}
.rounded-full , .profilePic  {
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

.burgerMenu  {
    display: none;
}
main {
    display: flex !important;
    justify-content: center !important;
    margin-top: 50px !important;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    width: 45% !important;
    height: fit-content !important;
}
.sideMenu {
    
    width: 20%;
    height: fit-content !important;
    text-align: center !important;
}
.sideMenu{
    background: rgba(255, 255, 255, 0.381) !important;
    border-radius: 16px  !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
}

.sideMenu .postTypes {
 background-color: black !important;
} 

.mobileSideMenu {
    position: absolute;
    width: 70vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.381) !important;
    border-radius: 16px  !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    display: none;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
}


.fa-xmark {
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 10px;

}

.navBtns {
    width: 100% !important;
    height: 100% !important;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.navBtns a {
    margin: 10px 0;
    /* border: 1px solid black; */
    background-color: rgba(148, 233, 216, 0.125) ;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.501) inset !important;
    border-radius: 16px ;
    padding: 5px 0;
}

.navBtns a:hover {
    background-color: rgba(148, 233, 216, 0.211) ;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)  !important;
    /* border-radius: 16px ; */
    

}


button {
    width: 90%;
     margin: 0 auto;
     background: rgba(255, 255, 255, 0.381) !important;
    border-radius: 16px  !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center !important;
}
    


#titleinput {
    width: 90% ;
    padding: 0 10px;
    border-radius: 20px;
    height: 50px;
    border: none;
    background-color: white;
    font-family: "Roboto";
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)  !important;

}

#postTxtArea {
    width: 90% !important;
    height: 100px  !important;
    border-radius: 20px;
    padding: 10px 10px;
    border: none;
    background-color: white;
    /* background: rgba(255, 255, 255, 0.381) !important; */
    border-radius: 16px  !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)  !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    margin: 10px 0;
    border: 1px solid lightskyblue;
    font-family: "Roboto";
    font-size: 16px;

}

input[type=submit] {
    width: 30% ;
    height: 40px;
    border-radius: 20px;
    color: white;
    background: rgba(148,233,216,1) !important;    
    /* background-color: white; */
    border: 1px solid lightskyblue;
    font-family: "Roboto";
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)  !important;
    cursor: pointer;
}

input[type=file]{
    width: 92%;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 10px;
    border: 1px solid lightskyblue;
    font-family: "Roboto";
    font-size: 16px;   
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)  !important;

}

input[type=file]::-webkit-file-upload-button {
    border: none;
    color: white;
    background: rgba(148,233,216,1) !important;    
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 16px 0 0 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)  !important;
    cursor: pointer;

}




.selection {
    display: flex;
    flex-direction: row;
    /* display: flex !important ;
    /* justify-content: center !important; */
    /* height: fit-content !important; */
    width: 100% !important;
    /* border: 1px solid black;  */
    font-family: "Roboto" !important;
}
select {
    height: 40px !important;
    border-radius: 16px;
    /* padding: 20px ; */
    width: 30% !important;
    margin: 0 10px !important;
    border: 1px solid lightskyblue;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)  !important;
    

}
.feed-display {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center !important;
    width: 100% !important;
    /* border: 1px solid black !important; */
   
}

.post-card {
    background: rgba(255, 255, 255, 0.422) !important;
    border-radius: 16px !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    width: 90% !important;
    margin: 10px 0 !important;
    padding: 10px 5px !important;
    /* transform: translateX(100px); 
     opacity: 0;
    transition: 150ms; */
    overflow: hidden;

}

.show {
transform: translateX(0);
opacity: 1;
}

.postTitleDivision {
    position: relative;
    /* border: 1px solid black; */
    width: 77%;
    z-index: 1000;
}
p {
    position: relative;
    margin: 10px 0 10px 10% ;
    z-index: 1000;

}

.postImg {
    height: 300px ;
    width: 50%;
    margin-left: 10%;
}

.smallPostImage {
    position: absolute;
    right: 0;
    width: 30%;
    height: auto;
    /* aspect-ratio: attr(width) / attr(height); */
    /* background: rgba(255, 255, 255, 0.422) !important; */
    /* border-radius: 16px !important; */
    /* box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important; */
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border-radius: 0 16px 16px 0;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)   !important; */
    opacity: 0.2;
    overflow: hidden;

} 

.moreButton {
    position: relative;
    margin:  0 auto;
    /* border: 1px solid black; */
    font-size: 20px;
    z-index: 1000;
}


.sector-tag {
    position: relative;
    border: 1px solid rgba(148,233,216,1);
    border-radius: 16px;
    width: fit-content;
    padding: 3px 10px;
    color: rgb(77, 216, 188);
    background-color: white;
    font-weight: lighter;
    left: 5px;
}


@media all and (max-width: 690px) {
    .burgerMenu {
        display: block;
        font-size: 30px;
    }

    .sideMenu {
        display: none;
    }

    .feed-center {
        width: 90% !important;
    }
  
}