@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Parisienne&family=Passion+One&family=Press+Start+2P&family=Roboto&family=Russo+One&display=swap');
 
 *, *::before, *::after {
    margin: 0;
    padding: 0;
 }
body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,233,216,1) 100%);
        font-family: "Roboto";

}
header {
    display: flex ;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.381);
    border-radius: 0 0 16px 16px;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px 0;
}
/* a:link,a:visited ,a:hover,a:active {
    text-decoration: none;
} */
/* a {
    text-decoration: none;
    color: black;
} */
.avatar {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}
.w-24 {
    width: 24px;
}
.rounded-full , .profilePic  {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.burgerMenu  {
    display: none;
}
main {
    display: flex !important;
    justify-content: center !important;
    margin-top: 50px !important;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    width: 45% !important;
    height: fit-content !important;
}
.sideMenu {
    
    width: 20%;
    height: fit-content !important;
    text-align: center !important;
}
.sideMenu{
    background: rgba(255, 255, 255, 0.381) !important;
    border-radius: 16px  !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
}

.sideMenu .postTypes {
 background-color: black !important;
} 

.mobileSideMenu {
    position: absolute;
    width: 70vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.381) !important;
    border-radius: 16px  !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    display: none;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
}


.fa-xmark {
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 10px;

}

.navBtns {
    width: 100% !important;
    height: 100% !important;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.navBtns a {
    margin: 10px 0;
    /* border: 1px solid black; */
    background-color: rgba(148, 233, 216, 0.125) ;
    padding: 5px 0;
}

.navBtns a:hover {
    background-color: rgba(148, 233, 216, 0.211) ;

}


button {
    width: 90%;
     margin: 0 auto;
     background: rgba(255, 255, 255, 0.381) !important;
    border-radius: 16px  !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center !important;
}
    


#titleinput {
    width: 90% ;
    padding: 0 10px;
    border-radius: 20px;
    height: 50px;
    border: none;
    background-color: white;
}

#postTxtArea {
    width: 90% !important;
    height: 100px  !important;
    border-radius: 20px;
    padding: 10px 10px;
    border: none;
    background-color: white;
    /* background: rgba(255, 255, 255, 0.381) !important; */
    border-radius: 16px  !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    margin: 10px 0;
    border: 1px solid lightskyblue;

}

input[type=submit] {
    width: 30% ;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid lightskyblue;
}

input[type=file]{
    width: 92%;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 10px;
    border: 1px solid lightskyblue;

}

input[type=file]::-webkit-file-upload-button {
    border: none;
    background-color:lightblue;
    
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 16px 0 0 16px;

}




.selection {
    display: flex;
    flex-direction: row;
    /* display: flex !important ;
    /* justify-content: center !important; */
    /* height: fit-content !important; */
    width: 100% !important;
    /* border: 1px solid black;  */
}
select {
    height: 40px !important;
    border-radius: 16px;
    /* padding: 20px ; */
    width: 30% !important;
    margin: 0 10px !important;
    border: 1px solid lightskyblue;

}
.feed-display {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center !important;
    width: 100% !important;
    /* border: 1px solid black !important; */
   
}

.post-card {
    background: rgba(255, 255, 255, 0.422) !important;
    border-radius: 16px !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    width: 90% !important;
    margin: 10px 0 !important;
    padding: 10px 5px !important;
}
p {
    
    margin: 10px 0 10px 10% ;
}

.postImg {
    height: 300px ;
    width: 50%;
    margin-left: 10%;
}

.moreButton {
    margin:  0 auto;
    /* border: 1px solid black; */
    font-size: 20px;
}



@media all and (max-width: 690px) {
    .burgerMenu {
        display: block;
        font-size: 30px;
    }

    .sideMenu {
        display: none;
    }

    .feed-center {
        width: 90% !important;
    }
  
}