@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Parisienne&family=Passion+One&family=Press+Start+2P&family=Roboto&family=Russo+One&display=swap');

*,*::before,*::after {
    margin: 0;
    padding: 0;
    /* font-family: "Roboto"; */

}

.sideMenu .navBtns{
    display: flex !important;
    flex-direction: row;
    width: 50px !important;
}
body {
    font-family: "Roboto";
}
.postMain {
    display: flex;
    flex-direction: column !important;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;

}

.post-card {
    background: rgba(255, 255, 255, 0.422) !important;
    border-radius: 16px !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    width: 55% !important;
    margin: 10px 0 !important;
    padding: 10px 5px !important;
}

.title {
    /* border: 1px solid black; */
    text-align: center;
}


.commentSection {
    /* border: 1px solid black; */
    background: rgba(255, 255, 255, 0.222) !important;
    border-radius: 16px;
    padding: 10px 10px;
    margin-top: 20px;
    width: 55% !important;
   
} 
#commentForm {
    /* background-color: black; */
    display: flex !important;
    flex-direction: row !important;
}

#commentForm input[type = submit]{
    position: relative;
    width: 100px;
    height: 120px;
}

.comment {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501)   !important;
    border-radius: 16px;
    margin-bottom: 10px;
    width: 100% !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
}


#commentText {
    width: 50%;
    height: 100px;
    padding: 10px 10px;
    font-size: 16px;
    font-family: "Roboto";
    border-radius: 16px;
}



 .delete-option-style {

    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px ;
    color: rgb(77, 216, 188);
    width: fit-content ;
    border: none;
    cursor: pointer;
    z-index: 1000;

}


.delete-modal {
    position: absolute !important;
    display: none ;
    grid-template-columns: 1fr 1fr;
     justify-content: center !important;
    align-items: center !important;
    /* position: absolute !important; */
    /* top: 0; */
    left: 0 !important;
    /* background-color: black; */
    background: rgba(255, 255, 255, 0.671) !important;
    border-radius: 16px !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    width:100% !important;
    height: 100% !important;
    /* margin: 10px 0 !important; */
    /* padding: 10px 100px !important; */
    z-index: 1000;


}






.delete-post {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px !important;
    /* font-family: "Roboto" !important; */
    color: white;
    width: fit-content;
    border: none;
    border-radius: 16px 0 0 16px !important;
    cursor: pointer;
    background-color: red !important;
    padding: 15px 20px;
    cursor: pointer;
}


.cancel-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;    display: flex;
    font-size: 30px !important;
    /* font-weight: bold; */
    color: white;
    border: none;
    background-color: rgb(77, 216, 188) !important;
    padding: 15px 20px;
    border-radius: 0 16px 16px 0 !important;
    width: fit-content;
    cursor: pointer;
}

.delete-post h5 , .cancel-delete h5 {
    font-family: "Roboto" !important;
}

.promotionVotes {
    background-color: white;
    display: flex !important;
    flex-direction: row;
    width: fit-content !important;
    padding: 0 10px;
    border-radius: 16px;
    /* flex; */
}
.promotionVotes p {
    position: relative;
    font-weight: bold;
    z-index: 0;
    /* box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) inset !important; */

}

.fa-circle-up {

    font-size: 20px;
    color: rgba(77, 216, 188, 0.343);
    background-color: white;
    width: fit-content;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.fa-circle-up:hover {
    color: rgb(77, 216, 188);

}

@media all and (max-width: 690px) {
    .post-card {
        width: 90% !important;
    }


    .commentSection {
     
        width: 80% !important;
       
    } 
    .burgerMenu {
        display: block;
        font-size: 30px;
    }

    .sideMenu {
        display: none;
    }

    .feed-center {
        width: 90% !important;
    }
  
  
}

