 * ,
 *::before,
 *::after {
    margin: 0;
    padding: 0;
 }

 a {
    text-decoration: none;
    color: black;
 }

 .profileHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh !important;
    width: 100% !important;
    margin-top: 50px;
    

 }

 .innerProfileHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    width: 80% !important;
    background: rgba(255, 255, 255, 0.381) !important;
    border-radius: 16px  !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    text-align: center;
 }

 .profileAvatar {
    /* border: 1px solid black; */
    margin: 0 auto;
    text-align: center;
 }

 .profileImageContainer {
    width: fit-content;
    height: fit-content;
    /* border: 1px solid black; */

 }

 .bigProfilePic  {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */

}

.profileName {
    color: black;
    /* border: 1px solid black; */


}



.profileMain {
    position: relative;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: fit-content;
    /* border: 1px solid black; */
}

.profilePosts, .profileStats {
   
    margin: 0 10px;
    position: relative;
}


.profilePosts {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    width: 50% !important;
    /* border: 1px solid black; */
    

}

.profileStats {
    display: grid;
    padding: 10px 0 10px 10px;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    justify-content: flex-start;
    width: 30% !important;
    height: 100% !important;
    height: fit-content;
    background-color: black !important;
    background: rgba(255, 255, 255, 0.381) !important;
    border-radius: 16px  !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    align-self: flex-start;
    /* border: 1px solid black; */

}


@media all and (max-width : 893px) {
    .profileMain {
        flex-direction: column;
        /* border: 1px solid black; */
    }

    .profilePosts, .profileStats {
        width:  90% !important;
    margin: 10px 0;

    }
    .innerProfileHeader {
        width: 90% !important;
    }
}
