* , 
*::before,
*::after{
    border: 1px solid black;
    margin: 0;
    padding: 0;
}




header  {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,233,216,1) 100%);
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

}





header a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    /* height: 50vh; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    justify-content: center;
    align-items: center; 
    
}
.mainprofile {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
        border: 1px solid black;
}
aside{
    width: 23%;
   border: 1px solid black;
   /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%); */
   background-color: white;
}

section {
 width: 77%;
 height: 500px;
}


.image-class {
    position: relative;
    height: 50vh;
    width: 40vw;
    /* background-color: black; */
    z-index: 1000;
}


