@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Faster+One&family=Kaushan+Script&family=Libre+Barcode+39+Text&family=Modak&family=Montserrat+Subrayada:wght@700&family=Nabla&family=Parisienne&family=Passion+One&family=Press+Start+2P&family=Roboto&family=Russo+One&display=swap');

* , 
*::before,
*::after{
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    /* font-family: "Roboto" ; */
}

body {
        font-family: "Roboto" ;
}




header  {
    position: relative;
    /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,233,216,1) 100%); */
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(13, 106, 87) 100%);

    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 50px;
    z-index: 1000;
}
.logo-of-p4p {
    font-family: 'Nabla', cursive !important;
    font-size: 50px;
}
 a {
    text-decoration: none;
    color: black;
 }
.loginBtn {
    height: fit-content;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.381) !important;
    border-radius: 16px  !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    font-family: "roboto", cursive;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.landingMain {
    position: relative;
   display: flex;
   justify-content: center;
   width: 100%;
   height: 70vh;
   margin-top: 50px;
}





/* section {
 width: 77%;
 height: 500px;
} */


.sloganSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 700px;
    font-size: 10px;
    /* font-weight: bolder !important; */
}

.sloganDiv {
    /* border: 1px solid black; */
    width: 100%;
}
 .sloganDiv p {
    font-size:  20px;
 }

.slogan {
    font-size: 5em;
}

.landingImageDiv {
    height: 100%;
}
.landingImage {
    display: block;
    /* border:1px solid green; */
    /* margin: 0 20px; */
    width: 100%;
    height: 100%;
}

.joinUsDiv {
    width: 100%;
    margin-top: 50px;
}

.joinUsDiv a {
    /* border: 1px solid black; */
    width: 80% !important;
    padding: 20px 0;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501) !important;

}


.joinBtn {
    padding: 20px 0;
    width: 100%;
    border-radius: 16px;
    border: none;
    /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,233,216,1) 100%); */
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(13, 106, 87) 100%);

    font-size: 2em;
    font-weight: bold;
}

.joinBtn:hover {
    cursor: pointer;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.loginCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.292) 0%, rgba(148, 233, 216, 0.212) 100%);
    border-radius: 16px !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    
}






.loginForm {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto" !important;

 }

 .loginpageBtn {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,233,216,1) 100%) !important;
    width: 50%;
    padding: 10px;
     border-radius: 16px;
    font-family: "Roboto" !important;
    font-size: 1.2rem;
    font-weight: bold;
   border: none;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501) !important;

}

input[type = email], input[type = password], input[type = text] {
    padding: 10px;
    width: 90%;
    margin: 20px 0;
    border-radius: 16px;
    font-family: "Roboto" !important;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.501) inset !important;
    
}

.alert  {
    position: absolute;
    top: 20%;
}
 

footer {
    /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,233,216,1) 100%) !important; */
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(13, 106, 87) 100%);

    height: 12.1vh;
}
footer h5 , footer p {
    /* margin-top: 50px; */
    /* border: 1px solid black; */
    text-align: center;
}





@media all and (max-width: 736px) {
    .landingMain {
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        height: 80vh;
    }
    .sloganSection{
       width: 100%;
       text-align: center;
       margin-top: 100px;

    }

    .loginCard  {
        width: 90%;
    }
}